a {
    color: #27ae60;
}

a:hover {
    color: #2ecc71;
}

.btn-default {
    background-color: #27ae60;
    border: solid 1px #27ae60;
}

.btn-default:hover {
    background-color: #2ecc71;
    border: solid 1px #2ecc71;
}

.navbar-static-top{
    border-bottom: 2px solid #e74c3c;
}
