a {
    color: #27ae60;
}

a:hover {
    color: #2ecc71;
}

/*
.btn-default {
    background-color: #27ae60;
    border: solid 1px #27ae60;
}

.btn-default:hover {
    background-color: #2ecc71;
    border: solid 1px #2ecc71;
}
*/
.navbar-static-top{
    border-bottom: 2px solid #e74c3c;
}

.error-message {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #F2DEDE;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.success-message {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #DFF0D8;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

#login-wrapper {
    background-color: white;
}
